.rounded-button {
  border-radius: 50%;
  cursor: pointer;
  background-color: #999999;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0 0 0;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
}
.rounded-button:hover {
  opacity: .7;
}
/*******************/
body {
  background-color: #F0F0F0;
}
.center-margin {
  margin-top: 10%;
}
.messages .message {
  background-color: #FFFFFF;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.messages .message .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}
.messages .message:hover .delete.can_delete {
  opacity: 1;
  visibility: visible;
}
.messages .message .user {
  font-size: 1.2em;
  font-weight: bold;
}
.messages .message .attachments {
  margin: 10px 30px;
  padding: 10px;
}
.messages .message .attachments a,
.messages .message .attachments img,
.messages .message .attachments iframe {
  display: block;
}
.messages .message .attachments .item {
  display: none;
}
.messages .message .date {
  font-size: 0.7em;
  opacity: .7;
}
.messages .message .likes {
  border-radius: 50%;
  cursor: pointer;
  background-color: #999999;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0 0 0;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  font-weight: bold;
}
.messages .message .likes:hover {
  opacity: .7;
}
.messages .message .likes.liked {
  background-color: red;
}
.messages .message.prototype {
  display: none;
}
.twach-add-button {
  border-radius: 50%;
  cursor: pointer;
  background-color: #999999;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0 0 0;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 3em;
  padding: 25px 0 0 3px;
  background-color: red;
}
.twach-add-button:hover {
  opacity: .7;
}
#twach_form .loader {
  display: none;
}
#twach_form .controls {
  display: block;
}
