@color-gray: #F0F0F0;
@color-gray-dark: #999999;
@color-white: #FFFFFF;
@color-red: red;


.rounded-button {
  border-radius: 50%; cursor: pointer; background-color: @color-gray-dark;
  color: @color-white; text-align: center; padding: 5px 0 0 0;
  transition: all 0.3s ease; width: 30px; height: 30px;

  &:hover {
    opacity: .7;
  }
}

/*******************/

body {
  background-color: @color-gray;
}

.center-margin {
  margin-top: 10%;
}

.messages {

  .message {
    background-color: @color-white; margin: 10px 0;
    border-radius: 5px; padding: 10px; position: relative;

    .delete {
      position: absolute; top: 10px; right: 10px; opacity: 0;
      transition: all 0.3s ease; visibility: hidden;;
    }

    &:hover {
      .delete.can_delete {
        opacity: 1; visibility: visible;
      }
    }

    .user { font-size: 1.2em; font-weight: bold; }

    .attachments {
      margin: 10px 30px;
      padding: 10px;

      a, img, iframe { display: block; }

      .item { display: none; }
    }

    .date { font-size: 0.7em; opacity: .7; }
    .likes {
      .rounded-button;
      font-weight: bold;

      &.liked {
        background-color: @color-red;
      }
    }

    &.prototype { display: none; }
  }
}

.twach-add-button {
  .rounded-button;
  width: 100px; height: 100px; position: fixed; bottom: 50px; right: 50px;
  font-size: 3em; padding: 25px 0 0 3px; background-color: @color-red;
}

#twach_form {
  .loader { display: none; }
  .controls { display: block; }
}